# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    branches:
      only: master

    docker:
      # specify the version you desire here
      - image: circleci/node:8

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn build
      # - run: yarn deploy
      - run:
          name: deploy
          command: |
            cp -r .circleci public/
            cd public
            git init
            git config user.email "zhaojinjiang@me.com"
            git config user.name "Jinjiang"
            git remote add origin https://jinjiang:$GITHUB_TOKEN@github.com/vuejs/cn.vuejs.org.git
            git add .
            git commit -m "generated docs"
            git push origin HEAD:gh-pages --force
