<% if (!page.sponsors && !page.partners) { %>
<div id="ad">
  <!-- <span style="float: right;">广告</span> -->
  <script
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CKYIK2QU&placement=vuejsorg"
    id="_carbonads_js">
  </script>
</div>
<% } %>
