<div id="ad">
  <!-- <script
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CKYIK2QU&placement=vuejsorg"
    id="_carbonads_js">
  </script> -->
  <a href="https://e.coding.net/?utm_source=vue.js" target="_blank">
    <img src="/images/coding.png">
    <p>
      企业级一站式软件研发协作平台
    </p>
  </a>
</div>
