<div id="ad">
  <a href="https://time.geekbang.org/?utm_source=website&utm_medium=vue&utm_campaign=routine&utm_content=tuijian" target="_blank" rel="nofollow">
    <img src="/images/geekbang.jpg" alt="极客时间">
  </a>
</div>
