<div id="ad">
  <a href="https://time.geekbang.org/column/intro/48?utm_source=website&utm_medium=vue&utm_campaign=201801chenhao&utm_content=chenhaobanner" target="_blank" rel="nofollow">
    <img src="/images/geekbang3.gif" alt="极客时间">
  </a>
</div>
