<% if (!page.sponsors && !page.partners) { %>
<div id="ad">
  <!-- start: special logic for cn -->
  <div
    class="wwads-cn wwads-vertical"
    data-id="53"
    style="max-width: 200px"
  ></div>
  <script
    type="text/javascript"
    src="https://cdn.wwads.cn/js/makemoney.js"
    async
  ></script>
  <!-- end: special logic for cn -->
  <!-- <script
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CEBDT27Y&placement=vuejsorg"
    id="_carbonads_js"
  ></script> -->
</div>
<% } %>
