<div id="ad">
  <span style="float: right;">广告</span>
  <a href="https://ke.qq.com/course/392130?saleToken=992600&from=pclink" target="_blank" rel="noopener">
    <img src="/images/tencent-ad.png">
  </a>
  <!-- <a href="https://time.geekbang.org/course/intro/163?code=Cs1WwK3tTrzMwGm1q-0VySZ9DhJaB-pOIkESucJlfHc%3D&utm_term=SPoster" target="_blank" rel="noopener">
    <img src="/images/geekbang-ad.jpg">
  </a> -->
  <!-- <script
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CKYIK2QU&placement=vuejsorg"
    id="_carbonads_js">
  </script> -->
</div>
