<div id="contributors">
<p>Vue 2.0 文档的早期翻译由 <a href="https://github.com/vuefe/vuejs.org" target="_blank">vuefe</a> 社区发起并组织完成。在此对 vuefe 表示非常感谢！</p>
<p>目前文档已经进入维护阶段，社区最新的文档/翻译贡献情况可以参阅 GitHub 提供的 <a href="https://github.com/vuejs/cn.vuejs.org/graphs/contributors" target="_blank">contributors</a> 页面。</p>
<p>大家可以在 Vue 中文网站的<a href="https://github.com/vuejs/cn.vuejs.org/" target="_blank">官方仓库</a>继续参与贡献。</p>
<p>以下是在 vuefe 参与翻译的贡献者列表。该列表已不再更新。</p>
<hr>
<p>共 <span style="color: #e66; font-size: 28px;" v-text="list.length"></span> 人参与贡献，排名不分先后</p>
<ul class="contributors">
  <a v-for="item in list"
    class="contributor"
    :href="'https://github.com/' + item.github" target="_blank">
    <img class="contributor__img" :src="'https://github.com/' + item.github + '.png?size=64'" />
    <p v-text="item.github" style="margin: 0;"></p>
  </a>
</ul>
</div>

<style>
.contributor {
  display: inline-block;
  margin: 10px 15px;
  text-align: center;
}
.contributor__img {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}
</style>


<script>
new Vue({
  el: "#contributors",
  data: function() {
    return {
      list: [
        {
          github: 'dingyiming'
        },{
          github: '70data'
        },{
          github: 'bhnddowinf'
        },{
          github: 'dear-lizhihua'
        },{
          github: 'hilongjw'
        },{
          github: 'hijiangtao'
        },{
          github: 'ATLgo'
        },{
          github: 'daix6'
        },{
          github: 'hgcoder'
        },{
          github: 'yangzj1992'
        },{
          github: 'veaba'
        },{
          github: 'tingtien'
        },{
          github: 'ezreally'
        },{
          github: 'cuiyongjian'
        },{
          github: 'StoneQI'
        },{
          github: 'harrytospring'
        },{
          github: 'lindazhang102'
        },{
          github: '595074187'
        },{
          github: 'zhouzihanntu'
        },{
          github: 'mlyknown'
        },{
          github: 'yongbolv'
        },{
          github: 'yizhixiaolongxia'
        },{
          github: 'forzajuve10'
        },{
          github: 'coolzjy'
        },{
          github: 'tuxiantian'
        },{
          github: 'showonne'
        },{
          github: 'Luoxinfang'
        },{
          github: 'xie-qianyue'
        },{
          github: 'rocklau'
        },{
          github: 'shoglory'
        },{
          github: 'viko16'
        },{
          github: 'panzj'
        },{
          github: '	Creabine'
        },{
          github: 'shupande'
        },{
          github: 'ShangXinbo'
        },{
          github: 'swust-xiaoj'
        },{
          github: 'lichunqiang'
        },{
          github: 'athena0304'
        },{
          github: 'zhouxinyong'
        },{
          github: 'LightCi'
        },{
          github: 'MrZhang123'
        },{
          github: 'XyinM'
        },{
          github: 'homfen'
        },{
          github: 'sleelily'
        },{
          github: 'varHarrie'
        },{
          github: 'fytriht'
        },{
          github: 'yuzhiquan'
        },{
          github: 'LeoSpark'
        },{
          github: 'liyahui'
        },{
          github: '477800969'
        },{
          github: 'skiy'
        },{
          github: 'green-mike'
        },{
          github: 'G-Bruin'
        },{
          github: 'geekingin'
        },{
          github: 'amingguazi'
        },{
          github: 'NangeGao'
        },{
          github: 'Byss1'
        },{
          github: 'bringtree'
        },{
          github: 'lihengming'
        },{
          github: 'iHelin'
        },{
          github: 'kiyonlin'
        },{
          github: 'xqin'
        },{
          github: 'zp1996'
        },{
          github: 'ZHKO1'
        },{
          github: 'Peter-WF'
        },{
          github: 'ZoeyYoung'
        },{
          github: 'think2011'
        },
      ]
    };
  }
})
</script>
