<div>
  <div id="v3-banner">
    <span class="hidden-sm">Vue 2 已经终止支持且不再维护。</span>
    <a href="https://cn.vuejs.org/">请升级到 Vue 3</a>
    <span class="hidden-sm">或了解有关</span>
    <span class="only-sm"> | </span>
    <a href="/eol/">Vue 2 终止支持 (EOL)</a><span class="hidden-sm"> 的信息。</span>
  </div>

  <header id="header">
    <a id="logo" href="<%- url_for("/") %>">
      <img src="<%- url_for("/images/logo.svg") %>" alt="vue logo">
      <span>Vue.js</span>
    </a>
    <ul id="nav">
      <%- partial('partials/main_menu', { context: 'nav' }) %>
    </ul>
  </header>
</div>
