<div id="sidebar-sponsors-special">
  <div class="main-sponsor">
    <span>特别赞助商</span>
    <div>
    <%_ var sponsor = theme.platinum_sponsors_china[1]; _%>
    <a href="<%- sponsor.url %>" target="_blank" class="logo">
      <img src="<%- url_for(`/images/${sponsor.ad_img || sponsor.img}`) %>" alt="<%-sponsor.name-%>">
    </a>
    </div>
  </div>
</div>

<!--
<%- partial('partials/platinum_sponsors', { context: 'left' }) %>
-->
